In [4]:
import numpy as np

In [5]:
import seaborn as sns

In [6]:
import pandas as pd

In [7]:
import matplotlib.pyplot as plt

In [8]:
import pandas as pd
penguins =  pd.read_csv('penguins.csv')

In [9]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [10]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [11]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [12]:
penguins['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

<h1>Does Adelie exclusively live on Biscoe Island</h1>

In [13]:
penguins['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

In [14]:
penguins[(penguins['species'] == 'Adelie') &  (penguins['island'] == 'Biscoe')].count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
dtype: int64

In [15]:
penguins[(penguins['species'] == 'Adelie') &  (penguins['island'] == 'Torgersen')].count()

rowid                52
species              52
island               52
bill_length_mm       51
bill_depth_mm        51
flipper_length_mm    51
body_mass_g          51
sex                  47
year                 52
dtype: int64

In [16]:
penguins[(penguins['species'] == 'Adelie') &  (penguins['island'] == 'Dream')].count()

rowid                56
species              56
island               56
bill_length_mm       56
bill_depth_mm        56
flipper_length_mm    56
body_mass_g          56
sex                  55
year                 56
dtype: int64

<h1>INSIGHT 1</h1>

<H1>No, Adelie does not exclusively live on Biscoe</H1>

In [17]:
penguins[(penguins['species'] == 'Gentoo') &  (penguins['island'] == 'Biscoe')].count()

rowid                124
species              124
island               124
bill_length_mm       123
bill_depth_mm        123
flipper_length_mm    123
body_mass_g          123
sex                  119
year                 124
dtype: int64

In [18]:
  penguins[(penguins['species'] == 'Gentoo') &  (penguins['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [19]:
  penguins[(penguins['species'] == 'Gentoo') &  (penguins['island'] == 'Dream')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<H1> Gentoo exclusively live on Biscoe</H1>

In [20]:
  penguins[(penguins['species'] == 'Chinstrap') &  (penguins['island'] == 'Biscoe')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [21]:
  penguins[(penguins['species'] == 'Chinstrap') &  (penguins['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [22]:
  penguins[(penguins['species'] == 'Chinstrap') &  (penguins['island'] == 'Dream')].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
dtype: int64

<h1>Chinstrap does not live on Biscoe and Torgersen but instead Chinstrap exclusively live on Dream Island</h1>

In [23]:
penguins.isnull()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False,False

In [24]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [25]:
penguins['body_mass_g'].mean()

np.float64(4201.754385964912)

In [26]:
penguins['sex'].mode()

0    male
Name: sex, dtype: object

In [27]:
penguins['bill_length_mm'].median()

np.float64(44.45)

In [28]:
penguins['bill_length_mm'].mode()

0    41.1
Name: bill_length_mm, dtype: float64

In [29]:
penguins['bill_length_mm'] = penguins ['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [30]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [31]:
penguins['bill_depth_mm'] = penguins ['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())

In [32]:
penguins['flipper_length_mm'] = penguins ['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [33]:
penguins['body_mass_g'] = penguins ['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [34]:
penguins['sex'] = penguins ['sex'].fillna(penguins['sex'].mode()[0])

In [35]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [36]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [37]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009

In [38]:
penguins['wkilo'] = np.round(penguins['body_mass_g']/1000,2)

In [39]:
penguins['wkilo']

0      3.75
1      3.80
2      3.25
3      4.20
4      3.45
       ...
339    4.00
340    3.40
341    3.78
342    4.10
343    3.78
Name: wkilo, Length: 344, dtype: float64

<h1>DOES LIVING ON ISLAND AFFECT THE PENGUIN'S BODY MASS</h1>

In [40]:
adelie_Torgersen = penguins[(penguins['species'] == 'Adelie') &  (penguins['island'] == 'Torgersen')]
adelie_Torgersen ['body_mass_g'].mean()
np.round(adelie_Torgersen['body_mass_g'].mean(),1)

np.float64(3715.9)

In [41]:
adelie_Dream = penguins[(penguins['species'] == 'Adelie') &  (penguins['island'] == 'Dream')]
adelie_Dream ['body_mass_g'].mean()
np.round(adelie_Dream['body_mass_g'].mean(),1)

np.float64(3688.4)

In [42]:
adelie_biscoe = penguins[(penguins['species'] == 'Adelie') &  (penguins['island'] == 'Biscoe')]
adelie_biscoe ['body_mass_g'].mean()
np.round(adelie_biscoe['body_mass_g'].mean(),1)

np.float64(3709.7)

<h1> average weight of adelie in every island is 3.7</h1>

In [43]:
Gentoo_biscoe = penguins[(penguins['species'] == 'Gentoo') &  (penguins['island'] == 'Biscoe')]
Gentoo_biscoe ['body_mass_g'].mean()
np.round(Gentoo_biscoe['body_mass_g'].mean())

np.float64(5069.0)

In [44]:
Gentoo_Dream = penguins[(penguins['species'] == 'Gentoo') &  (penguins['island'] == 'Dream')]
Gentoo_Dream ['body_mass_g'].mean()
np.round(Gentoo_Dream['body_mass_g'].mean())

np.float64(nan)

In [45]:
Gentoo_Torgersen = penguins[(penguins['species'] == 'Gentoo') &  (penguins['island'] == 'Torgersen')]
Gentoo_Torgersen ['body_mass_g'].mean()
np.round(Gentoo_Torgersen['body_mass_g'].mean())

np.float64(nan)

<h1>Gentoo have an average 5.0kg weight exclusively on biscoe island</h1>

In [46]:
Chinstrap_Biscoe = penguins[(penguins['species'] == 'Chinstrap') &  (penguins['island'] == 'Biscoe')]
Chinstrap_Biscoe ['body_mass_g'].mean()
np.round(Chinstrap_Biscoe['body_mass_g'].mean())

np.float64(nan)

In [47]:
Chinstrap_Torgesen = penguins[(penguins['species'] == 'Chinstrap') &  (penguins['island'] == 'Torgesen')]
Chinstrap_Torgesen ['body_mass_g'].mean()
np.round(Chinstrap_Torgesen['body_mass_g'].mean())

np.float64(nan)

In [48]:
Chinstrap_Dream = penguins[(penguins['species'] == 'Chinstrap') &  (penguins['island'] == 'Dream')]
Chinstrap_Dream ['body_mass_g'].mean()
np.round(Chinstrap_Dream['body_mass_g'].mean())

np.float64(3733.0)

<h1>Chinstrap have an average weight of 3.7kg  especifically on Dream Island</h1>

<H1>LIVING ON A SPECIFIC ISLAND AFFECTS THE AVERAGE WEIGHT OF AN PENGUIN'S SPECIES</H1>

<H1>GENTOO HAVE THE HIGHEST WEIGHT AVERAGE KILO OUT OF ALL SPECIES</H1>

In [49]:
penguins_agg = penguins.groupby(['species','year','sex']).size()
penguins_agg.unstack()

sex             female  male
species   year
Adelie    2007      22    28
          2008      25    25
          2009      26    26
Chinstrap 2007      13    13
          2008       9     9
          2009      12    12
Gentoo    2007      16    18
          2008      22    24
          2009      20    24

<h1>IN THE YEAR 2007 THE ADELIE HAVE THE HIGHEST MALE BEEN RECORDED</h1>

<H1>WHICH IS HEAVIER BETWEEN PENGUINS SPECIES INTERMS OF SEX</H1>

In [50]:
weight_sex = np.round(penguins.groupby(['species','sex'])['wkilo'].mean(), 1)

In [51]:
weight_sex

species    sex
Adelie     female    3.4
           male      4.0
Chinstrap  female    3.5
           male      3.9
Gentoo     female    4.7
           male      5.4
Name: wkilo, dtype: float64

In [52]:
weight_sex.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.4

<h1>MALE PENGUINS ARE HEAVIER IN THE SPOECIES OF ADELIE CHINSTRAP, AND GENTOO</h1>

In [53]:
weight_sex = np.round(penguins.groupby(['species','sex','year',])['wkilo'].mean() ,1)
weight_sex

species    sex     year
Adelie     female  2007    3.4
                   2008    3.4
                   2009    3.3
           male    2007    4.0
                   2008    4.1
                   2009    4.0
Chinstrap  female  2007    3.6
                   2008    3.5
                   2009    3.5
           male    2007    3.8
                   2008    4.1
                   2009    3.9
Gentoo     female  2007    4.6
                   2008    4.6
                   2009    4.8
           male    2007    5.5
                   2008    5.4
                   2009    5.4
Name: wkilo, dtype: float64

In [54]:
weight_sex.unstack()

year              2007  2008  2009
species   sex
Adelie    female   3.4   3.4   3.3
          male     4.0   4.1   4.0
Chinstrap female   3.6   3.5   3.5
          male     3.8   4.1   3.9
Gentoo    female   4.6   4.6   4.8
          male     5.5   5.4   5.4

<H1>what year has the highest recorded weight for male and female</H1>

<h1>2008 for the female and 2007 for the male</h1>

<h1>CORRELATION vs CAUSATION</h1>
<H2>Correlation between bill_length and bill_depth</H2>
<h1>P value in statistics</h1>
<h2> A P-value is a statistical treatment used to validate  a  hypothesis againts observed data. it measures the probability  of obtaining
 the observed result assuming that the nul hypothesis is true. A lower P-value indicates the graete statistical  significance of the observed difference</h2>
 <h2> anything above .5  means the two values has a strong correlation </h2>
 <h2>anything less than .5 meaning less or no correlation</h2>

In [55]:
b_leng_dep = penguins ['bill_length_mm'].corr(penguins['bill_depth_mm'])
b_leng_dep

np.float64(-0.23505287035553282)

<h1>INSIGHT#13</h1>
<H2>There is no correlation between bill length and bill depth</H2>

In [56]:
flipper = penguins ['wkilo'].corr(penguins['flipper_length_mm'])
flipper

np.float64(0.8711960010429363)

In [57]:
body_mass = penguins ['wkilo'].corr(penguins['bill_length_mm'])

<h1>INSIGHT#14</h1>
<H2>There is a strong correlation between weight and bill_length</H2>

In [58]:
body_mass

np.float64(0.5951244154492128)

<H1>THERE IS A STRONG CORRELATION BETWEEN WKILO OF A PENGUIN AND BILL_lENGTH</H1>

In [59]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scipy) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC46\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

<h1>Use of One Way Anova</h1>

In [60]:
from  scipy.stats import f_oneway

<h1>testing correlation between body mass and sex</h1>

In [67]:

f_stats, p_value = f_oneway(penguins[penguins['sex']=='male']['body_mass_g'],
                            penguins[penguins['sex']=='female']['body_mass_g'])

p_value

np.float64(3.0226600487050246e-15)

<h1>INSIGHT#15</h1>
<H2>There is a strong correlation on sex and body mass</H2>

In [68]:

f_stats, p_value = f_oneway(penguins[penguins['sex']=='male']['flipper_length_mm'],
                            penguins[penguins['sex']=='female']['flipper_length_mm'])

p_value

np.float64(4.88065474065626e-06)

<h1>INSIGHT#16</h1>
<H2>There is a strong correlation on sex and flipper length</H2>